#select_ALL{
    width: 1420px;
    margin: 0px auto;
}
iframe{
    margin-left: -8px;
    margin-bottom: -45px;
}
header{
    position: relative;
}
#logo_right ul{
    position: relative;
}
#logo_right a{
    text-decoration: none;
    color: black;
}

#school_instr{
    width: 80px;
    right:54.6%;
    display: none;
    background-color: white;
    position: absolute;
    border: 1px #d7d7d7 solid;
    border-radius: 5px;
}
#school_instr ul{
    margin-left: -90px;
}
#school_instr ul li{
    width: 80px;
    margin-top: 5px;
    list-style: none;
    text-align: center;
    border-bottom: 1px #d7d7d7 solid;
}

#hot_course{
    width: 100px;
    right:45.8%;
    display: none;
    background-color: white;
    position: absolute;
    border: 1px #d7d7d7 solid;
    border-radius: 5px;
}
#hot_course ul{
    margin-left: -90px;
}
#hot_course ul li{
    width:100px;
    text-align: center;
    margin-top:10px;
    border-bottom: 1px #d7d7d7 solid;
}
#zhaosheng{
    width: 90px;
    right: 22.2%;

    display: none;
    background-color: white;
    border: 1px #d7d7d7 solid;
    border-radius: 5px;
    position: absolute;
}
#zhaosheng ul{
    margin-left: -85px;
}

#zhaosheng ul li{
    width: 80px;
    margin-top: 10px;
    list-style: none;
    text-align: center;
    border-bottom: 1px #d7d7d7 solid;
}
#job_serice{
    width: 80px;
    right: 38.55%;

    display: none;
    position: absolute;
    background-color: white;
    border: 1px #d7d7d7 solid;
    border-radius: 5px;

}
#job_serice ul{
    margin-left: -80px;
}
#job_serice ul li{
    margin-top: 10px;
    list-style: none;
    text-align: center;
    border-bottom: 1px #d7d7d7 solid;
}
#shouye:first-of-type{
    color: #ff4900;
}

#logo_right{
    padding-top: 20px;
    margin-bottom: 20px;
}
#img_2 img{
    float: left;
    margin:-20px 90px;
    margin-right: 20px;
}
#logo_right li{
    float: left;
    list-style: none;
    margin-left: 50px;
    font-family: "Arial", "微软雅黑";
    font-size: 16px;
    color: #000000;
}
#main_picture img{
    margin-top: 30px;
}
#course_part{
    background-color: #f1f1f1;
    margin-top: 0px;
   overflow: hidden;
    width: 1420px;
    padding-bottom: 40px;
}
#hot_class img{
    margin: 25px 60px;
}
#hot_classify{
    font-family: "Arial", "微软雅黑";
    color: white;
    margin-left: 20px;
}

#hot_classify dt{
    font-size: 22px;
    text-align: center;
    padding-bottom: 20px;

}
#hot_classify .second_dd{
    font-size: 15px;
    text-align: center;
    border: 1px white solid;
    padding: 5px;
    border-radius:5px;
    width: 90px;
    margin-top: 10px;

}
#hot_classify .third_dd{
    font-size: 13px;
    padding-top: 5px;
}
#hot_classify dl{
    margin-left: -13px;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 5px;
}
.hot_one{
    background-color: #ec6941;
    border-radius: 10px;
    width: 200px;
    padding: 0px;
    margin-left: 40px;
}
.hot_one .third_dd{
    margin-left: 32px;
}
.hot_two{
    background-color:#80c269;
    border-radius: 10px;
    width: 200px;
    padding: 0px;
    margin-left: 40px;
}
.hot_two .third_dd{
    margin-left: 32px;
}
.hot_three{
    background-color: #00b7ee;
    border-radius: 10px;
    width: 200px;
    padding: 0px;
    margin-left: 40px;
}
.hot_four{
    background-color: #eb6877;
    border-radius: 10px;
    width: 200px;
    padding: 0px;
    margin-left: 40px;
}
.hot_four .third_dd{
    margin-left: 30px;
}
.hot_five{
    background-color: #bba44a;
    border-radius: 10px;
    width: 200px;
    padding: 0px;
    margin-left: 40px;
}
.hot_six{
    background-color: #005fee;
    border-radius: 10px;
    width: 200px;
    padding: 0px;
    margin-left: 40px;
}
.hot_six .third_dd{
    margin-left: 45px;
}
#hot_classify div{
    float: left;
    margin-left:25px;
}
#for_crowd img{
    margin: 25px 60px;
}
#crowd_classify ul{
    width: 170px;
    list-style: none;
    float: left;
    margin-left: 15px;
}
#modify_1{
    margin-top: -13px;
}
#modify_2{
    margin-top: 18px;
}
#crowd_classify ul li:last-child{
    padding-top: 20px;
    text-align:center;
}
#crowd_classify ul li:last-child span{
    border: 1px orange solid;
    border-radius: 3px;
    padding: 2px;
}
#campus_part{
    clear: left;
    background-color: #f1f1f1;
    overflow: hidden;
    width: 1420px;
    padding-bottom: 40px;
}
#campus_information img{
    margin: 25px 60px;
}
#campus_part_up ul{
    width: 400px;
    float: left;
    margin-left: 15px;
}
#campus_part_up ul li{
    width: 180px;
    list-style: none;
    float: left;
}
#campus_part_up ul li:nth-of-type(2){
    margin-top: -10px;
    padding-left: 15px;
}
#campus_part_up ul li:nth-of-type(2) p:nth-of-type(1){
    font-size: 14px;
    color: #000000;
}
#campus_part_up ul li:nth-of-type(2) p:nth-of-type(2){
    line-height: 20px;
    font-size: 12px;
    color: #b8b8b8;
}
#campus_part_down{
    margin-left: -80px;
}
#campus_part_down ul li{
    width: 350px;
    list-style: none;
    float: left;
    margin-left: 100px;
}
#campus_part_down ul li p:nth-of-type(1){
    font-size: 14px;
    color: #000000;
}
#campus_part_down ul li p:nth-of-type(2){
    line-height: 20px;
    font-size: 12px;
    color: #b8b8b8;
}
#employment_details{
    margin-top: 30px;
}
#employment_star img{
    margin: 25px 60px;
}
#employment_details ul{
    margin-top: -15px;
    list-style: none;
    width: 650px;
    float: left;
}
#employment_details ul li{
    width: 220px;
    float: left;
}

#employment_details ul li:nth-of-type(2){
    margin-top: 40px;
    margin-left: 130px;
}
#employment_details ul li:nth-of-type(2) p{
    font-size: 14px;
    color: #000000;
    line-height: 20px;
    margin-top: -10px;
}
#goldmedal_teacher{
    clear: left;
    background-color: #f1f1f1;
    overflow: hidden;
    width: 1420px;
}

#teacher_team{
    width: 1000px;
    z-index: 0;
    background-color: #41b4d2;
    position: absolute;
    left: 200px;
    bottom: 100px;
    opacity: 0.5;
    filter: alpha(opacity=50);
    height: 220px;
}
#teacher_part{
    position: relative;
}
#teacher_team_word{
    text-align: center;
    position: absolute;
    left:200px;
    bottom: 50px;
    width: 1000px;
}
#teacher_team_word p:first-child{
    margin-bottom: 5px;
    font-size: 88px;
    font-family: "Arial", "微软雅黑";
    color: #ffffff;
}
#teacher_team_word p:first-child span{
    color: #fedd01;
}
#teacher_team_word p:last-child{
    margin-top: 5px;
    font-size: 63px;
    font-family: 宋体;
    color: #ffffff;
}
#environment_part{
    width: 1420px;
    position: relative;
}

#campus_environment img{
    margin: 25px 60px;
}
#float_right{
    clear:left;
    float: right;
    position: absolute;
    right: 100px;
    top: 60px;
}
#tabs li{
    width: 20px;
    height: 20px;
    list-style: none;
    float: left;
    border: 1px solid gray;
    border-radius:50px;
    margin-left: 30px;
}
#environment_part img{
    margin-left: 40px;
}
#school_life_part{
    clear: left;
    background-color: #f1f1f1;
    overflow: hidden;
    width: 1420px;
    padding-bottom: 40px;
    margin-top: 40px;
}
#school_life img{
    margin: 25px 60px;
}
#school_life_pic ul li{
    list-style: none;
    float: left;
    margin-left: 30px;
    padding-top: 20px;
}
#joint_venture img{
    margin: 25px 60px;
}
#joint_venture_all img{
    margin-left: 60px;
}