.ssss div{
    border: 1px solid white;
    width: 1420px;
    margin: 0px auto;
    font-family: 微软雅黑;
}
iframe{
    width: 1470px;
    margin-left: -8px;
    border: 0px;
}
header div{
    border: 0px;
}
footer iframe{
    margin-top: -50px;
    margin-left: -8px;
}
section{
    position: relative;
    bottom: 350px;
    z-index: -1;
}
footer iframe{
    margin-top: -358px;
    margin-left: -8px;
}
.s2{
    height: 320px;
    border-bottom: 2px solid #c6d8e6;
}
.s2 h3{
    font-size: 50px;
    text-align: center;
    font-family: "Arial", "微软雅黑";
    color: #11a3d3;

}
.s2 p{
    font-family: "Arial", "微软雅黑";
    font-size: 18px;
    width: 1000px;
    margin: 0px auto;
    line-height: 42px;
    color: #666666;
    text-indent: 2em;
    letter-spacing: 3px;
}
.s3{
    height: 650px;
    padding-top: 90px;
}
.s3 h3{
    text-align: left;
    font-size: 28px;
    color: #11a3d3;
    font-weight: 500;
    margin-bottom: 10px;
}
.s3 dt{
    text-align: center;
    font-size: 50px;
    font-family: 微软雅黑;
    color: #11a3d3;
    font-weight: 700;
}
.s3 dd{
    padding-top: 100px;
    float: left;
    width: 300px;
    margin-left: 125px;
    font-family: 微软雅黑;
    color: #666666;
    font-size: 16px;
    color: #2c2b2b;
}
.s4{
    font-family: 微软雅黑;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    height: 465px;
    background-image: url("../images/college_students_19.png");
}
.s4 p{
    font-size: 18px;
}
.s4 h3{
    font-size: 50px;
    margin-top: 100px;
    margin-bottom: 80px;
}
.s5{
    text-align: center;
}
.s5 h2{
    font-size: 50px;
    font-family: 微软雅黑;
    color: #11a3d3;
    font-weight: 700;
}
.s5 p{
    font-size: 18px;
    font-family: 微软雅黑;
    color: #333333;
    line-height: 35px;
}
.s6{
    height: 480px;
}
.s6 ul{
    list-style-type: none;
    width: 600px;
    float: left;
}
.s6 ul li{
    height: 150px;
}
.s6 ul li span{
    display: inline-block;
    width: 370px;
    margin-top: -130px;
    margin-left: 30px;
    vertical-align: middle;
}
.s7{
    background-image: url("../images/college_students_42.png");
    height: 526px;
}
.s7 span{
    text-align: center;
    padding: 40px 20px 20px 0px;
    display: inline-block;
    border: 2px solid white;
    width: 150px;
    height: 60px;
    margin: 10px;
    color: white;
}
.s7 p{
    margin-left: 330px;
    margin-top: -70px;
    border: 2px solid white;
    width: 600px;
    transform: skew(-43deg);
    padding-left: 10px;
}
.s7 p em{
    font-weight: 700;
    font-size: 28px;
    display: inline-block;
    transform: skew(51deg);
}
.s7 h1 strong{
    font-size: 156px;
    padding: 0px;
    margin-left: 450px;
    color: white;
}
.s7 h1{
    font-size: 50px;
    margin-top: 5px;
    color: white;
}
.s8{
    height: 950px;
}
.s8 ul li{
    float: left;
    list-style-type: none;
    width: 600px;
    margin: 20px;
}
.s8 ul li img{
    float: left;
}
.s8 ul li p{
    font-size: 14px;
    margin-top: 20px;
    text-indent: 2em;
}
.s8 h1{
    font-size: 50px;
    color: #11A3D4;
    margin: 100px 0px 100px 350px;
}
.s8 input:nth-of-type(1){
    margin-left: 410px;
    margin-right: 100px;
}
.s8 input{
    margin-top: 40px;
}
body{
    width: 1420px;
    height: 1000px;
    margin: 0px auto;
}
.wz1{
    font-family: 微软雅黑;
    font-weight: bold;
    font-size:66px;
    text-align: center;
}
.wz3{
    font-family: 微软;
    color: #ffffff;
    font-weight: bold;
    font-size: 66px;
    text-align: center;
    padding-top: 50px;
}
img{
    margin: 0px auto;
}
#qq{
    margin-top:-70px;
}
.wz4{
    font-family: 微软;
    font-size: 24px;
    color: #ffffff;
    text-align: center;
    border: dashed 2px #fbe601;
    border-radius: 15px;
    width: 900px;
    margin-left:200px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#dd{
    background-image: url("../images/Male_05.png");
    padding-bottom: 40px;
}

.xxxx ul li{
    list-style: none;
    display: inline-block;
    padding: 50px 100px 50px 100px;

}

.xxxx ul li p{
    font-family: 微软;
    font-size: 24px;
    color: #fbe601;
    text-align: center;
    margin-top: 0px;

}
#dj p{
    color: #ffffff;
    font-family: 微软;
    font-size: 40px;
    border: solid 2px #90998A;
    border-radius: 15px;
    text-align: center;
    width: 400px;
    margin-left: 460px;
    padding-top: 15px;
    padding-bottom: 15px;
}

#dj p a{
    color: #ffffff;
    text-decoration: none;
}
#IT{
    background-image: url("../images/Male_08.png");
    height: 461px;
}
#IT span{
    font-family: 微软;
    color:#ffffff;
    font-size: 66px;
    position: relative;
    top: 350px;
    left: 600px;
}
.xxxx dl li{
    margin-top: 0px;
    list-style: none;
    display: inline-block;

}
.xxxx dl .ss{
    margin-right: 20px;
    margin-left: 20px;
}
#ds dl{
    margin-top: 0px;
}
.wz5{
    font-family: 微软;
    font-size: 48px;
    text-align: center;
;
}
#zz{
    margin-left: 500px;
    margin-top: 80px;
}


