<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.bdqn.dao.dao.CampusInformationMapper">
	<!-- 获取信息总数 -->
	<select id="getCount" resultType="int">
		SELECT COUNT(*) FROM tbl_campusinformation
	</select>
	<!-- 根据ID查询咨询 -->
	<select id="getCampusInformationById" resultType="CampusInformation">
		select * from
		tbl_campusinformation where uuid=#{uuid}
	</select>
	<!-- 分页显示咨询 -->
	<select id="getCampusInformationList" resultType="CampusInformation">
		select * from
		tbl_campusinformation order by createTime desc limit
		#{currentPageNo},#{pageSize}
	</select>

	<delete id="deleteCampusInformationById" parameterType="CampusInformation">
		delete
		FROM tbl_campusinformation where uuid=#{uuid}
	</delete>



	<insert parameterType="CampusInformation" id="addCampusInformation">
		insert into tbl_campusinformation (title,profile,content,picPath,createTime) 
		values (#{title},#{profile},#{content},#{picPath},#{createTime})
	</insert>
</mapper>