body{
    margin: 0px auto;
    padding: 0px;
    /*width: 1200px;*/
    position: relative;
    width: 1420px;
}
header{
    z-index: 1;
}
.commen{
    width: 1420px;
    position:absolute;
    top:350px;
    z-index: 0;
}


li{
    list-style: none;
}
section{
    padding-bottom: 100px;
}
.PartSum{
    overflow: hidden;
}
.LeftPart{
    width: 55%;
    margin-left: 100px;
    /*border: 1px solid red;*/
    float: left;
}

.RightPart{
    margin: 0px;
    padding: 0px;

    margin-right:100px;
    /*border: 1px solid red;*/
    float:right;
}
.ListOne,.ListSecond,.ListThird{
    margin: 0px;
    padding: 0px;
}

.ListOne li{
    list-style: none;
    width: 800px;
    height: 50%;
    /*border: 1px blue solid;*/
    overflow: hidden;
    padding: 50px 0px;
    border-bottom: dotted 2px darkgrey;
    margin-left: 40px;
    margin-bottom: -20px;

}
h3{
    font-size: 30px;
    font-weight:500;
}
.ListOne li div{
    margin-bottom: -50px;
    margin-left: 20px;
    width: 790px;
    float: left;
}
.ListOne li img{
    float: left;
    height: 160px;
    width: 220px;
}


.ListOne li:last-child{
    border-bottom: none;
}

.ListOne li div p:nth-of-type(1){
    color: darkgrey;
    margin-top: 30px;
    width: 780px;
}

.editor{
    font-size: 15px;
    color: darkgrey;
    padding-left: 500px;
    margin-top: -5px;
    margin-bottom: 19px;
}
.pThree{
    line-height: 25px;
    width: 830px;
    color: #79797a;
    margin-top: 30px;
}
/*---------------------------------------------*/
.ListSecond li{
    list-style: none;
    padding: 20px 0px;
}

.PartTail{

    text-align: center;
    line-height: 20px;
    font-size: 20px;
    margin-top: 30px;
    color: darkgrey;
}


.ListThird{

    display: inline-block;
    text-align: center;
    margin: 0px auto;
    overflow: hidden;
    position: relative;
    bottom: -4px;
}

.ListThird li{
    list-style: none;
    border: 1px solid darkgrey;
    width: 20px;
    height: 20px;
    float: left;
    margin-left: 10px;

}

.ListThird .LiFour{
    border:0px solid black;
}

h2{
    margin-left: 100px;
}

*{
    font-family: "Arial", "微软雅黑";
}
